@import "../style/MLColors"
$defaultMargin: 10px

.ml-search-grid
  flex: 1
  align-items: flex-start
  background-color: $containerBackgroundColor
  margin: $defaultMargin


.ml-search-input
  align-content: center

.MuiInput-underline
  border-bottom: none !important
  &hover
    border-bottom: none !important

.ml-icon-button
  color: $buttonBackgroundColor !important